# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
flake8==2.0
hacking>=0.8.0,<0.9

coverage>=3.6
discover
feedparser
fixtures>=0.3.14
mock>=1.0
mox>=0.5.3
psycopg2
python-subunit>=0.0.18
sphinx>=1.1.2,<1.2
sphinxcontrib_issuetracker
testrepository>=0.0.17
testtools>=0.9.34,<0.9.36
tempest-lib>=0.1.0

scripttest
# NOTE(rpodolyaka): This version identifier is currently necessary as
#                   pytz otherwise does not install on pip 1.4 or higher
pylint
pytz>=2010h
